/* CSS */

ul {
  list-style-type: none;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}


/* Images in Top section */


.dev-image{
	max-width: 45%;
	display: inline-block;
}

.la-image{
	max-width: 45%;
	display: inline-block;
}



/* About Me Section */


.about-me-container{
  margin-top: 9%;
  margin-bottom: 9%;
}


/* About Me Section */


.skillset-image-container{
 min-width: 100px;
 min-height: 100px;
}

.top-row{
  margin-top: 8%;
}

.row-two{
  margin-bottom: 8%;
}



.bottom-link{
  margin-top: 12%;
  text-decoration: none;
}


/* Project Section */


.project-container{
  padding-top: 6%;
  margin-bottom: 10%;
}

/* Project On Hover Image Enlarge Effects */


/* Project On Hover Image Enlarge Effects End */

#back-to-top{
  margin-top: 3%;
}

#contact{
  margin-bottom:6%;
}


